In [1]:
import pandas as pd

## Arabidopsis

In [ ]:
Supp_4_df = pd.read_excel (r'Supplemental_file_4[1].xls')

In [ ]:
Supp_4_df

First tab from supplemental file 4 uploaded (Arabidopsis)

In [ ]:
Sorted_transcript_data = Supp_4_df.groupby('Unnamed: 1')

In [ ]:
Sorted_transcript_data.describe()

In [ ]:
(5+(4*5)+(3*12)+(2*35)+151)/204

Number of transcripts per gene. 1.38 calculated here as compared to 1.4 that the authors recieved. Range is 1-5 as seen above in the sorted data.

In [ ]:
Sorted_exon_data = Supp_4_df.groupby('Unnamed: 2')

In [ ]:
Sorted_exon_data.describe()

In [ ]:
(48.3+34.7+30+29+24+20+(20*2)+18.5+18+17.5+(17*2)+(15*4)+(14.5*2)+(14*7)+13.5+(13*2)+(12*2)+(11*4)+(10*5)+9.5+9.3+8.7+(9*8)+(8.3*2)+(8*8)+(7.7*2)+7.5+(7*10)+6.3+(6.5*2)+6.2+(6*14)+(5.5*2)+(5*9)+4.3+(4*12)+2.7+(3*24)+(2.5*5)+(2*18)+(1.5*2)+(1*37))/204

6.433 Exons per gene. Range is 1-48.3

In [ ]:
Sorted_Esize_data = Supp_4_df.groupby('Unnamed: 3')

In [ ]:
Sorted_Esize_data.describe()

In [ ]:
Supp_4_df.drop(0)

In [ ]:
Supp_4_copy

In [ ]:
Supp_4_copy = Supp_4_df

In [ ]:
Supp_4_copy.drop('The structural features of Arabidopsis flowering genes', axis=1, inplace=True)

In [ ]:
Supp_4_copy_1= Supp_4_copy.drop(labels=0, axis=0)

In [ ]:
Supp_4_copy_1

In [ ]:
Supp_4_df_num = Supp_4_copy_1.apply(pd.to_numeric)

In [ ]:
Supp_4_df_num

In [ ]:
Supp_4_copy_1['Unnamed: 3'].mean()

In [ ]:
Supp_4_copy_1['Unnamed: 3'].min()

In [ ]:
Supp_4_copy_1['Unnamed: 3'].max()

Exon average size is 466. Range is 79-4165. This agrees with the authors data.

In [ ]:
Supp_4_copy_1['Unnamed: 4'].mean()

In [ ]:
Supp_4_copy_1['Unnamed: 4'].max()

In [ ]:
supp_4_desc = Supp_4_copy_1.sort_values('Unnamed: 4', ascending=False)

Intron average size was 468.5bp and range was 78-2316 bp. I had to sort data in order to determine the minimum number since the authors ignored the 0 values for introns.

In [ ]:
supp_4_desc.iloc[160:165]

In [ ]:
for index, row in Supp_4_df_num.iterrows():
    exon = row['Unnamed: 3']
    numexon = row['Unnamed: 2']
    if(pd.isna(exon) is False and pd.isna(intron) is False): 
        Supp_4_df_num.loc[index,'exon_total'] = exon * numexon

In [ ]:
for index, row in Supp_4_df_num.iterrows():
    exon_total = row['exon_total']
    intron = row['Unnamed: 4']
    if(pd.isna(exon) is False and pd.isna(intron) is False): 
        Supp_4_df_num.loc[index,'exon_intron'] = exon_total + intron

In [ ]:
Supp_4_df_num

In [ ]:
Supp_4_df_num['exon_intron'].mean()

In [ ]:
Supp_4_df_num['exon_intron'].min()

In [ ]:
Supp_4_df_num['exon_intron'].max()

After making two new column to calculated gene length, different numbers were calculated from what the authors provided. Exon_total is the length of exons * the number they appear per transcript to get their total length. Then, Exon_total was added to intron length to compute gene length. There was not a good description of how the authors calculated this value. 
Average: 2297bp
Range: 79-11046.5bp

In [ ]:
Supp_4_df_num['exon_total'].mean()

In [ ]:
Supp_4_df_num['exon_total'].max()

In [ ]:
Supp_4_df_num['exon_total'].min()

Protein length was calculated by taking the number of exons multiplied by the average number per gene. 
Average:1828aa
Range:79-10871.5aa
These values are different than what was calculated by the authors. Again, there was no straightforward directions on how this was done.

## Wheat

In [ ]:
import pandas as pd

In [ ]:
Wheat_Supp_4 = pd.read_excel (r'Supplemental_file_4[1].xls', sheet_name='Wheat')
print (Wheat_Supp_4)

In [ ]:
Sorted_Wheat_transcript_data = Wheat_Supp_4.groupby('Unnamed: 1')

In [ ]:
Wheat_Supp_4['Unnamed: 1'].describe()

In [ ]:
Sorted_Wheat_transcript_data = Wheat_Supp_4.groupby('Unnamed: 1')

In [ ]:
Sorted_Wheat_transcript_data.describe()

1 transcript per gene for Wheat with a range of 1-1.

In [ ]:
Sorted_Wheat_exon_data = Wheat_Supp_4.groupby('Unnamed: 2')

In [ ]:
Sorted_Wheat_exon_data.describe()

In [ ]:
(42+35+34+31+29+27+(24*3)+22+21+(20*8)+(19*2)+(18*3)+(17*8)+153+(145*2)+(3*79)+(4*93)+(15*16)+(14*21)+(13*28)+(12*23)+(11*30)+(10*18)+(9*23)+(8*39)+(7*38)+(6*44)+(5*51))/833

In [ ]:
Sorted_Wheat_exon_data['Unnamed: 2'].min()

Average number of exons per gene was calculated to be 5.69 and the range was 1-42. Slightly different from the authors average exons per gene.

In [ ]:
Sorted_Wheat_Esize_data = Wheat_Supp_4.groupby('Unnamed: 3')

In [ ]:
Sorted_Wheat_Esize_data.describe()

In [ ]:
Wheat_Supp_4_copy = Wheat_Supp_4

In [ ]:
Wheat_Supp_4_copy

In [ ]:
Wheat_Supp_4_copy.drop('The structural features of wheat flowering genes', axis=1, inplace=True)

In [ ]:
Wheat_Supp_4_copy_1= Wheat_Supp_4_copy.drop(labels=0, axis=0)

In [ ]:
Wheat_Supp_4_copy_1

In [ ]:
Wheat_Supp_4_df_num = Wheat_Supp_4_copy_1.apply(pd.to_numeric)

In [ ]:
Wheat_Supp_4_df_num

In [ ]:
Wheat_Supp_4_copy_1['Unnamed: 3'].mean()

In [ ]:
Wheat_Supp_4_copy_1['Unnamed: 3'].min()

In [ ]:
Wheat_Supp_4_copy_1['Unnamed: 3'].max()

The average exon size was 565bp with a range of 41.8-5550, agreeing with authors.

In [ ]:
Wheat_Supp_4_copy_1['Unnamed: 4'].mean()

In [ ]:
Wheat_Supp_4_copy_1['Unnamed: 4'].max()

In [ ]:
Wheatsupp_4_desc = Wheat_Supp_4_copy_1.sort_values('Unnamed: 4', ascending=False)

In [ ]:
Wheatsupp_4_desc.iloc[675:685]

Average intron size was 923.66bp and a range of 58-7291bp, agreeing with authors.

In [ ]:
for index, row in Wheat_Supp_4_df_num.iterrows():
    exon = row['Unnamed: 3']
    numexon = row['Unnamed: 2']
    if(pd.isna(exon) is False and pd.isna(numexon) is False): 
        Wheat_Supp_4_df_num.loc[index,'exon_total'] = exon * numexon

In [ ]:
for index, row in Wheat_Supp_4_df_num.iterrows():
    exon_total = row['exon_total']
    intron = row['Unnamed: 4']
    if(pd.isna(exon_total) is False and pd.isna(intron) is False): 
        Wheat_Supp_4_df_num.loc[index,'exon_intron'] = exon_total + intron

In [ ]:
Wheat_Supp_4_df_num

In [ ]:
Wheat_Supp_4_df_num['exon_intron'].mean()

In [ ]:
Wheat_Supp_4_df_num['exon_intron'].max()

In [ ]:
Wheat_Supp_4_df_num['exon_intron'].min()

The average gene length for Wheat was calculated to be 2675, which is less than what the authors had published. The range was calculated to be between 158-12689bp, which is also less than what was expected.

In [ ]:
Wheat_Supp_4_df_num['exon_total'].mean()

In [ ]:
Wheat_Supp_4_df_num['exon_total'].min()

In [ ]:
Wheat_Supp_4_df_num['exon_total'].max()

Average protein length for wheat was calculated to be 1751aa with a range of 106-10363aa. This is also higher than what the authors had calculated.

## Barley

In [5]:
Barley_Supp_4 = pd.read_excel (r'Supplemental_file_4[1].xls', sheet_name='Barley')
print (Barley_Supp_4)

    The structural features of barley flowering genes             Unnamed: 1  \
0                                              GeneID  Number of transcripts
1                                          MLOC_10022                      1
2                                          MLOC_10243                      2
3                                          MLOC_10435                      6
4                                          MLOC_10563                      2
..                                                ...                    ...
267                                          MLOC_824                     14
268                                         MLOC_8261                      1
269                                         MLOC_8289                      2
270                                         MLOC_8592                      1
271                                         MLOC_9834                      1

                  Unnamed: 2           Unnamed: 3             Unnamed: 4
0    Average number of exons  Average exon length  Average intron length
1                          8                178.1                  847.9
2                        1.5               2187.3                 1680.5
3                        9.8                300.6                  716.5
4                         11                  170                  552.9
..                       ...                  ...                    ...
267                      9.1                  212                  564.1
268                        1                 1405                      0
269                        4                666.1                 1064.6
270                        1                 1805                      0
271                        3               1213.3                  638.5

[272 rows x 5 columns]

In [47]:
Barley_Supp_4

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Number of transcripts,Average number of exons,Average exon length,Average intron length
1,1,8,178.1,847.9
2,2,1.5,2187.3,1680.5
3,6,9.8,300.6,716.5
4,2,11,170,552.9
...,...,...,...,...
267,14,9.1,212,564.1
268,1,1,1405,0
269,2,4,666.1,1064.6
270,1,1,1805,0
271,1,3,1213.3,638.5

In [6]:
Sorted_Barley_transcript_data = Barley_Supp_4.groupby('Unnamed: 1')

In [7]:
Barley_Supp_4['Unnamed: 1'].describe()

count     272
unique     15
top         1
freq       87
Name: Unnamed: 1, dtype: int64

In [14]:
Barley_Supp_4_copy = Barley_Supp_4

In [24]:
Barley_Supp_4_copy

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Number of transcripts,Average number of exons,Average exon length,Average intron length
1,1,8,178.1,847.9
2,2,1.5,2187.3,1680.5
3,6,9.8,300.6,716.5
4,2,11,170,552.9
...,...,...,...,...
267,14,9.1,212,564.1
268,1,1,1405,0
269,2,4,666.1,1064.6
270,1,1,1805,0
271,1,3,1213.3,638.5

In [19]:
Barley_Supp_4_copy_1

,The structural features of barley flowering genes,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
1,MLOC_10022,1,8,178.1,847.9
2,MLOC_10243,2,1.5,2187.3,1680.5
3,MLOC_10435,6,9.8,300.6,716.5
4,MLOC_10563,2,11,170,552.9
5,MLOC_10658,1,7,278.3,668.3
...,...,...,...,...,...
267,MLOC_824,14,9.1,212,564.1
268,MLOC_8261,1,1,1405,0
269,MLOC_8289,2,4,666.1,1064.6
270,MLOC_8592,1,1,1805,0
271,MLOC_9834,1,3,1213.3,638.5

In [27]:
Barley_Supp_4_copy_1= Barley_Supp_4_copy.drop(labels=0, axis=0)

In [34]:
Barley_Supp_4_df_num = Barley_Supp_4_copy_1.apply(pd.to_numeric)

In [35]:
Barley_Supp_4_df_num

     Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
1             1         8.0       178.1       847.9
2             2         1.5      2187.3      1680.5
3             6         9.8       300.6       716.5
4             2        11.0       170.0       552.9
5             1         7.0       278.3       668.3
..          ...         ...         ...         ...
267          14         9.1       212.0       564.1
268           1         1.0      1405.0         0.0
269           2         4.0       666.1      1064.6
270           1         1.0      1805.0         0.0
271           1         3.0      1213.3       638.5

[271 rows x 4 columns]

In [41]:
Sorted_Barley_transcript_numdata = Barley_Supp_4_df_num.groupby('Unnamed: 1')

In [42]:
Sorted_Barley_transcript_numdata.describe()

           Unnamed: 2                                                          \
                count       mean       std   min     25%    50%     75%   max
Unnamed: 1
1                87.0   3.126437  3.392209   1.0   1.000   2.00   4.000  17.0
2                79.0   3.645570  3.325457   1.5   1.500   2.00   4.250  16.5
3                40.0   4.585000  3.468063   1.3   1.925   3.00   6.700  13.7
4                23.0   6.882609  4.280150   1.5   2.900   8.00  10.000  15.0
5                18.0   7.344444  4.493030   1.8   3.900   7.00   9.400  20.2
6                 9.0   7.255556  4.626584   2.2   3.200   7.70   9.800  15.3
7                 5.0   7.980000  6.961106   2.9   3.100   3.70  11.600  18.6
8                 1.0  13.200000       NaN  13.2  13.200  13.20  13.200  13.2
9                 1.0   8.200000       NaN   8.2   8.200   8.20   8.200   8.2
10                1.0   3.800000       NaN   3.8   3.800   3.80   3.800   3.8
11                3.0  10.033333  2.345918   8.0   8.750   9.50  11.050  12.6
14                2.0   8.850000  0.353553   8.6   8.725   8.85   8.975   9.1
17                1.0   4.600000       NaN   4.6   4.600   4.60   4.600   4.6
27                1.0  10.900000       NaN  10.9  10.900  10.90  10.900  10.9

           Unnamed: 3               ...                   Unnamed: 4  \
                count         mean  ...       75%     max      count
Unnamed: 1                          ...
1                87.0   975.332184  ...  1427.000  5122.0       87.0
2                79.0  1084.369620  ...  1602.050  3405.0       79.0
3                40.0   860.422500  ...  1156.625  3072.5       40.0
4                23.0   526.065217  ...   707.150  1747.1       23.0
5                18.0   481.838889  ...   658.575  1731.4       18.0
6                 9.0   620.744444  ...  1113.100  1491.8        9.0
7                 5.0   508.180000  ...   445.400  1313.0        5.0
8                 1.0   242.700000  ...   242.700   242.7        1.0
9                 1.0   159.100000  ...   159.100   159.1        1.0
10                1.0   988.100000  ...   988.100   988.1        1.0
11                3.0   346.366667  ...   370.250   402.5        3.0
14                2.0   246.100000  ...   263.150   280.2        2.0
17                1.0   885.400000  ...   885.400   885.4        1.0
27                1.0   226.500000  ...   226.500   226.5        1.0

                                                                           \
                   mean          std     min       25%      50%       75%
Unnamed: 1
1            532.688506  1009.634781     0.0     0.000    98.00   653.300
2            934.868354   757.755451    43.5   210.000   820.70  1534.750
3           1177.022500   786.636446    93.4   587.625  1106.90  1523.150
4            940.078261   632.456992    50.2   504.500   782.90  1100.200
5           1003.333333   634.656835   148.2   593.425   843.30  1191.050
6           1109.755556   395.019231   607.5   767.000  1062.00  1384.200
7            745.400000   384.936027   399.0   425.300   583.10  1144.800
8            752.400000          NaN   752.4   752.400   752.40   752.400
9            674.200000          NaN   674.2   674.200   674.20   674.200
10          1002.500000          NaN  1002.5  1002.500  1002.50  1002.500
11          1821.800000   815.204066  1015.9  1409.700  1803.50  2224.750
14           940.550000   532.380696   564.1   752.325   940.55  1128.775
17           812.500000          NaN   812.5   812.500   812.50   812.500
27           773.800000          NaN   773.8   773.800   773.80   773.800


               max
Unnamed: 1
1           5912.0
2           2854.0
3           4211.5
4           2608.9
5           2867.1
6           1793.0
7           1174.8
8            752.4
9            674.2
10          1002.5
11          2646.0
14          1317.0
17           812.5
27           773.8

[14 rows x 24 columns]

In [46]:
Barley_Supp_4_df_num

     Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  average_transcript
1             1         8.0       178.1       847.9                 8.0
2             2         1.5      2187.3      1680.5                 3.0
3             6         9.8       300.6       716.5                58.8
4             2        11.0       170.0       552.9                22.0
5             1         7.0       278.3       668.3                 7.0
..          ...         ...         ...         ...                 ...
267          14         9.1       212.0       564.1               127.4
268           1         1.0      1405.0         0.0                 1.0
269           2         4.0       666.1      1064.6                 8.0
270           1         1.0      1805.0         0.0                 1.0
271           1         3.0      1213.3       638.5                 3.0

[271 rows x 5 columns]

In [48]:
Barley_Supp_4_df_num['average_transcript'].mean()

16.724354243542432

In [50]:
Sorted_Barley_transcript_data.describe()

                      Unnamed: 2                                        \
                           count unique                      top  freq
Unnamed: 1
1                             87     13                        1    43
2                           79.0   18.0                      1.5  34.0
3                           40.0   19.0                      1.7   8.0
4                           23.0   18.0                     10.8   3.0
5                           18.0   18.0                     13.0   1.0
6                            9.0    9.0                      9.8   1.0
7                            5.0    5.0                     18.6   1.0
8                            1.0    1.0                     13.2   1.0
9                            1.0    1.0                      8.2   1.0
10                           1.0    1.0                      3.8   1.0
11                           3.0    3.0                     12.6   1.0
14                           2.0    2.0                      8.6   1.0
17                           1.0    1.0                      4.6   1.0
27                           1.0    1.0                     10.9   1.0
Number of transcripts          1      1  Average number of exons     1

                      Unnamed: 3                                  Unnamed: 4  \
                           count unique                  top freq      count
Unnamed: 1
1                           87.0   87.0                178.1  1.0       87.0
2                           79.0   79.0               2187.3  1.0       79.0
3                           40.0   40.0               1659.7  1.0       40.0
4                           23.0   23.0                338.3  1.0       23.0
5                           18.0   18.0                205.0  1.0       18.0
6                            9.0    9.0                300.6  1.0        9.0
7                            5.0    5.0                218.7  1.0        5.0
8                            1.0    1.0                242.7  1.0        1.0
9                            1.0    1.0                159.1  1.0        1.0
10                           1.0    1.0                988.1  1.0        1.0
11                           3.0    3.0                402.5  1.0        3.0
14                           2.0    2.0                280.2  1.0        2.0
17                           1.0    1.0                885.4  1.0        1.0
27                           1.0    1.0                226.5  1.0        1.0
Number of transcripts          1      1  Average exon length    1          1


                      unique                    top  freq
Unnamed: 1
1                       45.0                    0.0  43.0
2                       79.0                 1680.5   1.0
3                       40.0                   93.4   1.0
4                       23.0                 1002.6   1.0
5                       18.0                  654.4   1.0
6                        9.0                  716.5   1.0
7                        5.0                 1174.8   1.0
8                        1.0                  752.4   1.0
9                        1.0                  674.2   1.0
10                       1.0                 1002.5   1.0
11                       3.0                 2646.0   1.0
14                       2.0                 1317.0   1.0
17                       1.0                  812.5   1.0
27                       1.0                  773.8   1.0
Number of transcripts      1  Average intron length     1

In [51]:
(27+17+28+33+10+9+8+35+54+(5*18)+(4*23)+(3*40)+(2*79)+87)/270

2.8444444444444446

The average number of transcripts per gene for Barley was 2.8 with a range of 1-27. This agrees with the authors.

In [54]:
Barley_Sorted_exon_data = Barley_Supp_4.groupby('Unnamed: 2')

In [56]:
Barley_Sorted_exon_data.describe()

                        Unnamed: 1                                     \
                             count unique                    top freq
Unnamed: 2
1                               43      1                      1   43
1.3                              2      1                      3    2
1.5                             35      2                      2   34
1.7                              8      1                      3    8
1.8                              2      2                      4    1
...                            ...    ...                    ...  ...
16.5                             1      1                      2    1
17                               1      1                      1    1
18.6                             1      1                      7    1
20.2                             1      1                      5    1
Average number of exons          1      1  Number of transcripts    1

                        Unnamed: 3                                   \
                             count unique                  top freq
Unnamed: 2
1                               43     43                 3878    1
1.3                            2.0    2.0               1759.5  1.0
1.5                           35.0   35.0               2187.3  1.0
1.7                            8.0    8.0                750.4  1.0
1.8                            2.0    2.0               1747.1  1.0
...                            ...    ...                  ...  ...
16.5                           1.0    1.0                 87.4  1.0
17                             1.0    1.0                133.9  1.0
18.6                           1.0    1.0                218.7  1.0
20.2                           1.0    1.0                142.3  1.0
Average number of exons          1      1  Average exon length    1

                        Unnamed: 4
                             count unique                    top freq
Unnamed: 2
1                               43      1                      0   43
1.3                            2.0    2.0                 1510.7  1.0
1.5                           35.0   35.0                 1680.5  1.0
1.7                            8.0    8.0                  794.5  1.0
1.8                            2.0    2.0                   50.2  1.0
...                            ...    ...                    ...  ...
16.5                           1.0    1.0                  494.2  1.0
17                             1.0    1.0                  109.5  1.0
18.6                           1.0    1.0                 1174.8  1.0
20.2                           1.0    1.0                  842.5  1.0
Average number of exons          1      1  Average intron length    1

[74 rows x 12 columns]

In [58]:
Barley_Sorted_exon_data['Unnamed: 2'].min()

Unnamed: 2
1                                                1
1.3                                            1.3
1.5                                            1.5
1.7                                            1.7
1.8                                            1.8
                                    ...
16.5                                          16.5
17                                              17
18.6                                          18.6
20.2                                          20.2
Average number of exons    Average number of exons
Name: Unnamed: 2, Length: 74, dtype: object

In [61]:
Barley_Supp_4_df_num['Unnamed: 2'].mean()

4.529889298892989

Average number of exons per gene for Barley was 4.5 with a range of 1-20.2. This agrees with the author's data.

In [62]:
Barley_Supp_4_df_num['Unnamed: 3'].mean()

877.7464944649448

In [63]:
Barley_Supp_4_df_num['Unnamed: 3'].min()

87.4

In [65]:
Barley_Supp_4_df_num['Unnamed: 3'].max()

5122.0

The average exon size for Barley flowering genes was 878bp with a range of 87-5211bp.

In [66]:
Barley_Supp_4_df_num['Unnamed: 4'].max()

5912.0

In [70]:
Barley_supp_4_desc = Barley_Supp_4_df_num.sort_values('Unnamed: 4', ascending=False)

In [76]:
Barley_supp_4_desc.iloc[221:231]

     Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  average_transcript
27            2         1.5      1327.3        57.0                 3.0
38            2         1.5      1758.7        54.5                 3.0
145           2         1.5      2000.7        53.5                 3.0
257           2         1.5       991.3        52.0                 3.0
35            4         1.8      1747.1        50.2                 7.2
199           2         1.5       684.3        50.0                 3.0
23            2         1.5       959.3        43.5                 3.0
66            1         1.0       514.0         0.0                 1.0
258           1         1.0       862.0         0.0                 1.0
8             1         1.0      3878.0         0.0                 1.0

In [69]:
Barley_Supp_4_df_num['Unnamed: 4'].mean()

856.228413284133

The average intron size for Barley flowering genes was 856bp with a range between 43.5-5912bp. These results agree with the authors.

In [77]:
for index, row in Barley_Supp_4_df_num.iterrows():
    exon = row['Unnamed: 3']
    numexon = row['Unnamed: 2']
    if(pd.isna(exon) is False and pd.isna(numexon) is False): 
        Barley_Supp_4_df_num.loc[index,'exon_total'] = exon * numexon

In [78]:
for index, row in Barley_Supp_4_df_num.iterrows():
    exon_total = row['exon_total']
    intron = row['Unnamed: 4']
    if(pd.isna(exon_total) is False and pd.isna(intron) is False): 
        Barley_Supp_4_df_num.loc[index,'exon_intron'] = exon_total + intron

In [79]:
Barley_Supp_4_df_num

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,average_transcript,exon_total,exon_intron
1,1,8.0,178.1,847.9,8.0,1424.80,2272.70
2,2,1.5,2187.3,1680.5,3.0,3280.95,4961.45
3,6,9.8,300.6,716.5,58.8,2945.88,3662.38
4,2,11.0,170.0,552.9,22.0,1870.00,2422.90
5,1,7.0,278.3,668.3,7.0,1948.10,2616.40
...,...,...,...,...,...,...,...
267,14,9.1,212.0,564.1,127.4,1929.20,2493.30
268,1,1.0,1405.0,0.0,1.0,1405.00,1405.00
269,2,4.0,666.1,1064.6,8.0,2664.40,3729.00
270,1,1.0,1805.0,0.0,1.0,1805.00,1805.00
271,1,3.0,1213.3,638.5,3.0,3639.90,4278.40

In [80]:
Barley_Supp_4_df_num['exon_intron'].mean()

2988.369409594095

In [81]:
Barley_Supp_4_df_num['exon_intron'].min()

153.0

In [82]:
Barley_Supp_4_df_num['exon_intron'].max()

9980.58

The average gene length in bp for barley was calculated to be 2988bp, with a range of 153bp-9980bp. This result is less than what was published by authors. Again, they did not give any direction as to how this number was calculated and each N for the three species examined in this study, was less than what was recorded in this figure. For example Barley had a total of 271 data points from their Supplemental figure 4, while in this table they list they had 265 data points. There was no recording of why data points where excluded or which was were excluded.

In [84]:
Barley_Supp_4_df_num['exon_total'].mean()

2132.1409963099636

In [86]:
Barley_Supp_4_df_num['exon_total'].min()

153.0

In [87]:
Barley_Supp_4_df_num['exon_total'].max()

7113.48

The average protein length Barley flowering genes was calculated to be 2132 aa with a range of 153-7113aa. Again, this number is different than what was calculated by the authors.

## Table Creation

In [3]:
from prettytable import PrettyTable

In [4]:
Table_3 = PrettyTable(["Structural Characteristics", "AT", "(n=204)", "TA", "(n=833)", "HV", "(n=271)"])

In [5]:
Table_3.add_row(["***", "Mean", "Range", "Mean", "Range", "Mean", "Range"])

In [6]:
Table_3.add_row(["Transcripts per gene", "1.4", "1-5", "1", "1-1", "2.8", "1-27"])

In [7]:
Table_3.add_row(["Gene Length(bp)", "2297", "79-11046", "2675", "158-12689", "2998", "153-9980"])

In [8]:
Table_3.add_row(["Exons per gene", "6.5", "1-48", "5.7", "1-42", "4.5", "1-20"])

In [9]:
Table_3.add_row(["Exon size(bp)", "466", "79-4165", "565", "42-5550", "878", "87-5211"])

In [10]:
Table_3.add_row(["Intron size(bp)", "468", "78-2316", "924", "58-7291", "856", "44-5912"])

In [11]:
Table_3.add_row(["Protein length (aa)", "1828", "79-10872", "1751", "106-10363", "2132", "153-7133"])

In [12]:
Table_3

+----------------------------+------+----------+------+-----------+------+----------+
| Structural Characteristics |  AT  | (n=204)  |  TA  |  (n=833)  |  HV  | (n=271)  |
+----------------------------+------+----------+------+-----------+------+----------+
|            ***             | Mean |  Range   | Mean |   Range   | Mean |  Range   |
|    Transcripts per gene    | 1.4  |   1-5    |  1   |    1-1    | 2.8  |   1-27   |
|      Gene Length(bp)       | 2297 | 79-11046 | 2675 | 158-12689 | 2998 | 153-9980 |
|       Exons per gene       | 6.5  |   1-48   | 5.7  |    1-42   | 4.5  |   1-20   |
|       Exon size(bp)        | 466  | 79-4165  | 565  |  42-5550  | 878  | 87-5211  |
|      Intron size(bp)       | 468  | 78-2316  | 924  |  58-7291  | 856  | 44-5912  |
|    Protein length (aa)     | 1828 | 79-10872 | 1751 | 106-10363 | 2132 | 153-7133 |
+----------------------------+------+----------+------+-----------+------+----------+

In [13]:
Table3_export = Table_3.get_string()

In [16]:
with open('Table_3.txt', 'w') as f: f.write(Table3_export)

Table 3 has now been exported